:root {
  font-family: 'Roboto', sans-serif;
  --text-primary: white;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms; 
  --font-weight: bold;
  --font-size: 1.5em;
  --text-align: center;
  --font-weight: 200;
}
#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 99vw;
    height: 100vh;
    background-color: rgba(192, 192, 192, 0.5);
    background-image: url("http://i.stack.imgur.com/MnyxU.gif");
    background-repeat: no-repeat;
    background-position: center;
}
#page{
 width: 99vw;
 height: 100vh;
 float:left; 
 background-image: url("https://i.ibb.co/5hf4Yb5/Capture.png");
 background-size: cover;
}
#Aboutme{
 background-color:#14151B;
 text-align: center;
 width: 99vw;
 height: 100vh;
 float:left; 
 clear: left;
}
#Projects{
 background-color:#14151B;
 text-align: center;
 width: 99vw;
 height: 100vh;
 float:left; 
 clear: left;
}
#Interests{
 background-color:#14151B;
 text-align: center;
 width: 99vw;
 height: 100vh;
 float:left; 
 clear: left;
}
#Skills{
 background-color:#14151B;
 text-align: center;
 width: 99vw;
 height: 100vh;
 float:left; 
 clear: left;
}
.fa{
 color:white; 
}
pre {
  font-weight: bold;
  color: white;
  font-size: 1.5em;
  text-align: center;
  font-weight: 200;
}
h1 {
  color: white;
  font-size: 4em;
  text-align: center;
  font-weight: 100;
}
h3 {
  font-weight: bold;
  color: white;
  font-size: 1.5em;
  text-align: center;
  font-weight: 200;
}
body {
  color: white;
  margin: 0;
  padding: 0;
}

main {
  left: 15rem;
  margin-left: 5rem;
  padding: 1rem;
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: 700ms ease;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.nav-item {
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  position: absolute;
  display: inline;
  left: -997px;
  transition: var(--transition-speed);
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: #ff7eee;
}

.fa-secondary {
  color: #df49a6;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: left;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text
{
  position: absolute;
  display: inline;
  left: -999px;
  transition: var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}
.navbar:hover main{
    margin-left: 10rem;
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
    
  }
}
#skills-container {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #A0CFD3;
}
#skills-box {
    height: 100%;
    padding: 10px 10px 10px 10px;
    overflow-y: auto;
}
#skills-header {
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: 600;
}

.rank-text {
    font-size: 18px;
    font-weight: 600;
}

#ranking-container {
    display: table;
    height: 500px;
    text-align: center;
}

#ranking-container > div {
    display: table-row;
}

#ranking-container > div > h6 {
    display: table-cell;
}

#rank-1-wrap > h6 {
    vertical-align: top;
}

#rank-2-wrap > h6 {
    vertical-align: middle;
}

#rank-3-wrap > h6 {
    vertical-align: bottom;
}

.chart {
    display: table;
    table-layout: fixed;
    width: 100%;
    max-width: 750px;
    height: 500px;
    background-position: left top;
    background-size: 100% 50px;
}

.chart li {
    position: relative;
    display: table-cell;
    vertical-align: bottom;
    height: 200px;
}

.chart span {
    margin: 0 1em;
    display: block;
    background: #4E5283;
    border-radius: 4px;
}

.chart span:before {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    padding: 5px 0.1em;
    display: block;
    text-align: center;
    content: attr(title);
    word-wrap: break-word;
    font-weight: 600;
}

.verticalLine {
    border-left: 3px solid black;
    border-bottom: 3px solid black;
}

.skill-column {
    margin-top: 75px;
}

.skills-header {
    font-size: 20px;
    font-weight: 600;
}

.skills {
    font-size: 18px;
    text-align: left;
    margin: 0 auto;
    display: table;
}

#skill-boxie {
    border-left: 2px dashed black;
    border-right: 2px dashed black;
    border-top: 2px dashed black;
    border-bottom: 2px dashed black;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 2px;
}

.skill-arrow:before {
    content: "\3E\ ";
    color: #0E6BA8;
}

.skill-icon {
    color: #4E5283;
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg
  {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text
  {
    left: 12px;
  }
   .navbar:hover .link-text
  {
    left: 100px;
  }
  .navbar:hover .main
  {
    margin-left: 105px;
  }
}

.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
}

.solar {
  --text-primary: #576e75;
  --text-secondary: #35535c;
  --bg-primary: #fdf6e3;
  --bg-secondary: #f5e5b8;
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
}
